/* Styles General */

*,
*::after,
*::before{
  margin: 0;
  box-sizing: border-box;
}

html{
  overflow-x: hidden;
}

body{
  font-family: sans-serif;
  overflow-x: hidden;
}

pre {
  font-size: 0.3em;
}