/* Styles General */

*,
*::after,
*::before{
  margin: 0;
  box-sizing: border-box;
}

html{
  overflow-x: hidden;
}

:root{
  --maincolor: #CEE5D0;
  --secondcolor: #F3F0D7;
  --thirdcolor: #D8B384;
  --fourthcolor: #5E454B;
}

body{
  overflow-x: hidden;
  font-family: 'Inter', sans-serif;
  background-image: url(./assets/bg-final.png);
  background-size: 280px;
}

pre {
  font-size: 0.3em;
}

.div-main {
  min-height: 900px;
}

@media screen and (min-width: 1500px){
  .div-main {
    width: 80%;
    margin: auto;
  }
}