.nav {
    /* display: flex; */
    display: none;
    justify-content: flex-end;
}

.nav-item{
    color: white;
    padding: 0.5em 1em;
    background-color: transparent;
    outline: none;
    border: 1px solid white;
    border-radius: 2em;
    margin: 1em;
}